body {

    background-color:#F8A2D8 ;
    
}


img {

    width: 30px;
}

h1 {

    text-align: center;
   
}

.cortecabelo {
    background-color: rgb(159, 38, 216);
    border-radius: 40px;
    display: flex;
    align-items: center; /* Centraliza a imagem e o texto verticalmente */
    color: white;
}

.primeiraimg {
    border-radius: 100px;
    width: 60px;
}

.info {
    display: flex; /* Ativa o Flexbox no contêiner de texto */
    flex-direction: column; /* Coloca os rótulos um embaixo do outro */
    margin-left: 40px; /* Espaço entre a imagem e o texto */
}

.cortecabelo1 {
    margin: 0; /* Remove margem padrão dos rótulos */
}


.cortecabelo1{

    margin-left: 50px;
}

.segundaimg  {

    border-radius: 100px;
    width: 65px;
}

.terceiraimg {

    border-radius: 100px;
    width: 65px;
    height: 67px;

}

.quartaimg {

    border-radius: 100px;
    width: 65px;
    height: 67px;
}

.quintaimg {

    border-radius: 100px;
    width: 65px;
    height: 67px;
}
.sextaimg{

    border-radius: 100px;
    width: 65px;
    height: 67px;

}

.setimaimg{

    border-radius: 100px;
    width: 65px;
    height: 67px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.3s;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculto inicialmente */
    width: 230px;
    height: 25%; /* Diminuído para 80% da altura total */
    background-color: #bb4fd6;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s;
    overflow-y: auto; /* Permite rolagem se necessário */
}

.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar li {
    margin: 30px 0; /* Espaçamento entre os itens */
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar.active {
    left: 0; /* Exibe o menu */
}






.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica sobre a página */
    z-index: 1; /* Acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centraliza verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

.close {
    color: #aaa; /* Cor do "X" */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

